<div id="<%= dom_id pattern %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Regex:</strong>
    <%= pattern.regex %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comment:</strong>
    <%= pattern.comment %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Posi sample:</strong>
    <%= pattern.posi_sample %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Nega sample:</strong>
    <%= pattern.nega_sample %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Hit count:</strong>
    <%= pattern.hit_count %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Display name:</strong>
    <%= pattern.display_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Memorandum:</strong>
    <%= pattern.memorandum %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Category:</strong>
    <%= pattern.category %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Redos status:</strong>
    <%= pattern.redos_status %>
  </div>
</div>
